<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>bitfeels</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar is-white">
      <div class="navbar-brand">
        <a class="navbar-item" href="https://bitfeels.keele.codes">
          <h1 class="is-size-2 has-text-dark has-text-left has-text-weight-light">bitfeels
          </h1>
        </a>
        <p class="navbar-item">
          realtime twitter tweet sentiment analysis for bitcoin
        </p>
      </div>
    </nav>

    <section class="container">
      <div class="container">
        <!--<p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>-->
        <%= render @view_module, @view_template, assigns %>
      </div>
    </section>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
