<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Plausible Analytics -->
    <script async defer data-domain="bitfeels.keele.codes" src="https://stats.keele.codes/js/index.js"></script>
    <!-- End Plausible Analytics -->

    <!-- encoding, title -->
    <meta charset="utf-8">
    <title>bitfeels | real-time sentiment analysis</title>

    <!-- search engine metadata -->
    <meta name="author" content="Bitfeels">
    <meta name="keywords" content="bitcoin,crypto,sentiment,nlp,natural,language,processing,code,coding,development,elixir,phoenix,erlang">
    <meta name="description" content="Bitfeels Real-Time Sentiment Analysis">

    <!-- social media previews -->
    <meta property="og:title" content="Bitfeels">
    <meta property="og:image" content="<%= Routes.static_path(@conn, "/images/bitfeels_brand.png") %>">
    <meta property="og:description" content="Bitfeels Real-Time Sentiment Analysis">
    <meta name="twitter:title" content="Bitfeels">

    <!-- mobile viewport scaling -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tag() %>

    <!-- style -->
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <section class="hero" style="background-color:#4B0082;">
      <div class="hero-body">
        <div class="container has-text-centered">
          <!-- bitfeels brand
            Happy Love By Marek Polakovic, SK (https://thenounproject.com/term/happy-love/159362/)
            By Alexander Skowalsky, HU In the Abstract elements Collection (https://thenounproject.com/term/network/363874/)
          -->
          <img src="<%= Routes.static_path(@conn, "/images/bitfeels_brand.png") %>" width="300px">
          <h1 class="subtitle" style="color:white;">
            Real-Time Sentiment Analysis
          </h1>
        </div>
      </div>
    </section>

    <%= @inner_content %>

    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
