<nav class="level">
  <div class="has-text-left">
    <p class="title">
      Active Streams
    </p>
  </div>
</nav>
<div>
<div class="has-text-left">
  <%= for stream <- @streams do %>
    <div class="item">
      User: <%= stream[:user] %>
      Track: <%= stream[:track] %>
    </div>
  <% end %>
</div>
